<html>
<head>
	<meta charset="UTF-8">
	<title>Home Page</title>
	<link rel="stylesheet" type="text/css" href= "/css/TennisScreen.css">
	<script src="/js/app.js" type=:"text/javascript" > </script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
	<h1> Tennis Lessons </h1>
      <div class = "profile"> 
        <a href = "/profile"> <img src = /images/profile.pic class = "img" > </a>
        <h3> {{name}} </h3>
      </div>

      <div class = "dropdown">
        <button class = "dropdown-button"> Sort by: </button>
        <div class = "dropdown-content">
          <a href="#"> location </a>
          <a href="#"> relevent </a>
          <a href="#"> rating </a>
        </div>
      </div>

      <div class = "container">
        <!--
        <div id="{{id}}">
            <h3> {{userName}}<h3>
            <img src = /images/{{image}} class = "img"> 
            <span class="fa fa-star checked"></span>
            <h4> {{distance}} <h4>
            <p> {{bio}} </p>
        </div> -->
        
        <div id="instructor1">
          <a href="/hire"> 
            <button class = "click" id="btn1">
              <h2> User 1 </h2>
              <img src = /images/profile.pic class = "profile-pic"> 
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star"></span>
              <h4> .3 miles away </h4>
              <h4> Rate: $15/hour </h4>
              <p> Major: Computer Engineering </p>
            </button>
          </a>
        </div>

        <div id="instructor2">
          <a href="/hire">
            <button class = "click" id="btn2"> 
              <h2> User 2 </h2>
              <img src = /images/profile.pic class = "profile-pic"> 
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <h4> .5 miles away </h4>
              <h4> Rate: $20/hour </h4>
              <p> 2nd year Human Bio major </p>
            </button>
          </a>
        </div>

        <div id="instructor3">
          <a href="/hire">
            <button class= "click" id="btn3">
              <h2> User 3</h2>
              <img src = /images/profile.pic class = "profile-pic"> 
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star"></span>
              <span class="fa fa-star"></span>
              <span class="fa fa-star"></span>
              <h4> 1 mile away </h4>
              <h4> Rate: $10/hour </h4>
              <p> College: Revelle. Major: Psychology. </p>
            </button>
          </a>
        </div> 

      </div>




 <script src="https://code.jquery.com/jquery.js"></script>
  <!-- Include all compiled plugins (blelow), or include individual files as needed -->
  <script src="js/bootstrap.min.js"></script>
</body>
</html>
